<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ketfood">
  <meta name="author" content="Abzu & Ferret">

  {% block title %}<title>Ketfood&copy;</title>{% endblock %}

  <!-- Bootstrap CSS -->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- CSS -->
  <link href="{% static 'css/ketfood.css' %}" rel="stylesheet"> 

  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

</head>

<body>

  <!-- Nav -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'css/ketlogo.png' %}"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- Barra Nav -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'acerca' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'imc2' %}">IMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Información
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="{% url 'faq' %}">Preguntas Frecuentes</a>
              <a class="dropdown-item" href="{% url 'planes' %}">Planes</a>
            </div>
          </li>
          <div class="v-separator"></div>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-primary text-center" >Cerrar sesión</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary text-center" >Iniciar sesión</a>
            {% endif %}
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenido -->
  <div class="container">

    <!-- Nav Links -->
    <h1 class="mt-4 mb-3">Planes
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Planes</li>
    </ol>

    <!-- Planes -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Primerizos</h3>
          <div class="card-body">
            <div class="display-4">$15.990</div>
            <div class="font-italic">mensual</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">KETFOOD&copy; Raw Beef x2</li>
            <li class="list-group-item">KETFOOD&copy; Raw Boost x4</li>
            <li class="list-group-item">Le Babée Patée x6</li>
            <li class="list-group-item">
              <a href="{% url 'cuatrocerocuatro' %}" class="btn btn-primary">¡Ordenar!</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card card-outline-primary h-100">
          <h3 class="card-header bg-primary text-white">Intermedios</h3>
          <div class="card-body">
            <div class="display-4">$24.990</div>
            <div class="font-italic">mensual</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">KETFOOD&copy; Raw Beef x3</li>
            <li class="list-group-item">KETFOOD&copy; Raw Boost x5</li>
            <li class="list-group-item">Le Babée Patée x4</li>
            <li class="list-group-item">
              <a href="{% url 'cuatrocerocuatro' %}" class="btn btn-primary">¡Ordenar!</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Ultra</h3>
          <div class="card-body">
            <div class="display-4">$35.990</div>
            <div class="font-italic">mensual</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">KETFOOD&copy; Raw Beef x4</li>
            <li class="list-group-item">KETFOOD&copy; Raw Boost x4</li>
            <li class="list-group-item">Le Babée Patée x4</li>
            <li class="list-group-item">
              <a href="{% url 'cuatrocerocuatro' %}" class="btn btn-primary">¡Ordenar!</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">KETFOOD&copy; 2019 - Av. Alcorta #666, Santiago</p>
        <small><p class="m-0 text-center text-white">Desarrollado por <a href="https://www.abzu.cl/ferret">Abzu & Ferret</a></p></small>
      </div>
      <!-- /.container -->
    </footer>

  <!-- CORE JS -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
